$titulo: 'Crimson Text', serif;
$secundario: 'Karla', sans-serif;
$bold: 700;

$color_fondo: white;
$color_primario: black;
$color_secundario: rgb(120, 170, 197);
$color_separador: gray;
$color_hover: #3B4858;